h1, h2, h3, h4, h5, h6, label {
    color: rgb(142, 142, 142);
    /* font-family: var(--font-family-system); */
}
h1, h2, h3, h4, h5, h6 {
    color: #1c1e21;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}